
nav {
  background-color: #ede6e1;
}

.navbar-brand {
  color: #888785;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  margin-left: 25px;
}

.nav-link {
  color: #888785;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 14px;
  margin-right: 25px;
}

.nav-link:hover {
  color: #2b2b2a;
}

.dropdown-item {
  text-transform: uppercase;
  font-size: 12px;
}

.dropdown-item a:hover {
  color: #e2cfcb;
}

.logo {
  margin: auto;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.col-sm-4 {
  max-width: 20% !important;
  margin: 10px 20px;
}

.page-footer {
  background-color: #ede6e1;
  color: #888785;
  width: 100%;
  padding: 20px;
}

.footer-logo {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer-text {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
}

.social-media {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.icons {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
}

.fab {
  color: #2b2b2a;
  display: inline-block;
}

.fab:hover {
  color: #e2cfcb;
}

.contact-information {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.address {
  text-transform: uppercase;
  font-size: 14px;
}

.copyright {
  text-transform: uppercase;
  font-size: 12px;
}